doctype html
html
  head
    //- General META
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1,width=device-width")
    
    //- Semantic META
    meta(name="keywords", content= keywords)
    meta(name="description", content= description)

    //- Fav Icon
    //- link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")

    title= title
    
    //- CSS Files
    each cssFile in cssFiles
      link(rel="stylesheet", href= cssFile)

    block head

  body
    #wrap 
      block content

    #footer
    
    //- Javascript Files
    each jsFile in jsFiles
      script(src= jsFile)